h1 {
  border-bottom: 2px solid black;
  text-align: center;
}
.fightAfterCont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

}
ul {
  justify-content: center;
  align-items: center;
  padding-left: 20px;

}
li {
  list-style: none;
}
.headline {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.buttonCont {
  display: flex;
  justify-content: flex-end;

}
#playAgainBtn {
  padding: 5px;
}
.fightCont {
  display: flex;
  justify-content: space-around;
  height: 800px;

}
.hamsterCont {
  display: flex;
  justify-content: center;
  position: relative;
}
img {
  align-self: start;
  padding-top: 50px;
  width: 70%
}
h3 {
  position: absolute;
  padding-top: 10px;
}
